<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoDB"
         connectionString="mongodb+srv://default:default@cluster0.foggv.azure.mongodb.net/capitalgain;"/>
  </connectionStrings>
  
  <appSettings>
    <add key="S" value="D:\Gabriele\Documents\Tirocinio\DT_GAIN00_BaseDati_V01_Draft.xlsx" />
    <add key="D" value="C:\Users\cosmi\Desktop\DT_GAIN00_BaseDati_V01_Draft.xlsx" />
  </appSettings>
  
</configuration>